.social-login
    button.social-login--github
        span
            i.fab.fa-github
        //- | : pug 파일에서 텍스트로 인식
        |Continue with Github
    button    
        span.social-login--facebook 
            i.fab.fa-facebook
        |Continue with Facebook